
h1{color:#000000;
  margin:10px;
  padding:40px;
}
h2{
  background-color:#ec1a1a;
  margin:20px;
  padding:37px;
  }
 p{background-color:#ee2727;
    margin:20px;
    padding:37px;
    }
li{background-color:#f80f0f;
        margin:20px;
        padding:37px;
        }
*{border:solid}
.Header{background-color: #f11414;
justify-content:space-evenly;
margin:20px;
padding:37px;
}
.menu{
display:flex;
justify-content:space-evenly;
background-color:#cd05ff;
padding:15px;
font-size:20px;
font-family: 'Gill Sans';
font-weight:400;
font-weight:400;
color:#00ff80
}
.grid img{
border:2px solid #ec0909;
border-radius:50px;
}
.oragami{
border-radius:20px;
background-color:#efff0b;
margin:525x;
padding:30px;
width:310px;
font-family: Calibri;
}
a:link{
  color:#f80303;
}
a:visited{
  color:#f80f0f;
}
.Header p {
  position:absolute;
  top:50%;
  left:50%;
   transform:translate(-50%,-50%);
  opacity:0;
}
.Header:hover{
  opacity:1;
}
